@model IEnumerable<WebEscuela.Models.Escuela>

@{
    ViewData["Title"] = "Index";
}

<h1>Escuelas</h1>

<p>
    <a asp-action="Create">Agregar nueva escuela</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fundacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AtributoTipoDeEscuela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fundacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AtributoTipoDeEscuela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
